 /* Define standard variables and values for website */
$bgcolor: lightblue;

/* Use the variables */
body {
  background-color: $bgcolor;
}

/*images with ID of Poster*/
img#poster {
	display: block;
	margin-left: auto;
	margin-right: auto;
}